In [1]:
import pandas as pd
data=pd.read_csv('telecom_customer_churn.csv')

In [3]:
data.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,1,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,1,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,0,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,0,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,0,Dissatisfaction,Network reliability

In [5]:
import numpy as np

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6589 entries, 0 to 6588
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        6589 non-null   object
 1   Gender                             6589 non-null   object
 2   Age                                6589 non-null   int64
 3   Married                            6589 non-null   object
 4   Number of Dependents               6589 non-null   int64
 5   City                               6589 non-null   object
 6   Zip Code                           6589 non-null   int64
 7   Latitude                           6589 non-null   float64
 8   Longitude                          6589 non-null   float64
 9   Number of Referrals                6589 non-null   int64
 10  Tenure in Months                   6589 non-null   int64
 11  Offer                              6589 non-null   object
 12  Phone Service                      6589 non-null   object
 13  Avg Monthly Long Distance Charges  5945 non-null   float64
 14  Multiple Lines                     5945 non-null   object
 15  Internet Service                   6589 non-null   object
 16  Internet Type                      5245 non-null   object
 17  Avg Monthly GB Download            5245 non-null   float64
 18  Online Security                    5245 non-null   object
 19  Online Backup                      5245 non-null   object
 20  Device Protection Plan             5245 non-null   object
 21  Premium Tech Support               5245 non-null   object
 22  Streaming TV                       5245 non-null   object
 23  Streaming Movies                   5245 non-null   object
 24  Streaming Music                    5245 non-null   object
 25  Unlimited Data                     5245 non-null   object
 26  Contract                           6589 non-null   object
 27  Paperless Billing                  6589 non-null   object
 28  Payment Method                     6589 non-null   object
 29  Monthly Charge                     6589 non-null   float64
 30  Total Charges                      6589 non-null   float64
 31  Total Refunds                      6589 non-null   float64
 32  Total Extra Data Charges           6589 non-null   int64
 33  Total Long Distance Charges        6589 non-null   float64
 34  Total Revenue                      6589 non-null   float64
 35  Customer Status                    6589 non-null   int64
 36  Churn Category                     1869 non-null   object
 37  Churn Reason                       1869 non-null   object
dtypes: float64(9), int64(7), object(22)
memory usage: 1.9+ MB

In [9]:
data.describe()

,Age,Number of Dependents,Zip Code,Latitude,Longitude,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status
count,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000,5945.000000,5245.000000,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000
mean,46.760510,0.476097,93491.504477,36.199761,-119.757670,2.020944,34.499772,25.496246,26.225929,65.030695,2432.042243,2.080938,7.169525,798.087251,3235.218082,0.716345
std,16.841362,0.968499,1857.575392,2.472459,2.155696,3.024016,23.968734,14.198424,19.565724,31.100727,2265.500080,8.125054,25.803163,853.767972,2854.600036,0.450805
min,19.000000,0.000000,90001.000000,32.555828,-124.301372,0.000000,1.000000,1.010000,2.000000,-10.000000,18.850000,0.000000,0.000000,0.000000,21.610000,0.000000
25%,33.000000,0.000000,92103.000000,33.989524,-121.788090,0.000000,12.000000,13.140000,13.000000,35.800000,544.550000,0.000000,0.000000,106.680000,835.450000,0.000000
50%,46.000000,0.000000,93526.000000,36.245926,-119.601370,0.000000,32.000000,25.720000,21.000000,71.050000,1563.900000,0.000000,0.000000,472.680000,2376.450000,1.000000
75%,60.000000,0.000000,95333.000000,38.169605,-117.967399,3.000000,57.000000,37.690000,30.000000,90.400000,4003.000000,0.000000,0.000000,1275.120000,5106.640000,1.000000
max,80.000000,9.000000,96150.000000,41.962127,-114.192901,11.000000,72.000000,49.990000,85.000000,118.750000,8684.800000,49.790000,150.000000,3564.720000,11979.340000,1.000000

# finding number of null values

In [11]:
no_of_nul=list(data.isnull().sum())
nul_columns=list()

In [14]:
for i in range(len(no_of_nul)):
    if no_of_nul[i]!=0:
        nul_columns.append(data.columns[i])

In [16]:
nul_columns

['Avg Monthly Long Distance Charges',
 'Multiple Lines',
 'Internet Type',
 'Avg Monthly GB Download',
 'Online Security',
 'Online Backup',
 'Device Protection Plan',
 'Premium Tech Support',
 'Streaming TV',
 'Streaming Movies',
 'Streaming Music',
 'Unlimited Data',
 'Churn Category',
 'Churn Reason',
 'Avg Monthly Long Distance Charges',
 'Multiple Lines',
 'Internet Type',
 'Avg Monthly GB Download',
 'Online Security',
 'Online Backup',
 'Device Protection Plan',
 'Premium Tech Support',
 'Streaming TV',
 'Streaming Movies',
 'Streaming Music',
 'Unlimited Data',
 'Churn Category',
 'Churn Reason']

In [18]:
for i in nul_columns:
    print(i,'                                         ',data[i].dtypes)

Avg Monthly Long Distance Charges                                           float64
Multiple Lines                                           object
Internet Type                                           object
Avg Monthly GB Download                                           float64
Online Security                                           object
Online Backup                                           object
Device Protection Plan                                           object
Premium Tech Support                                           object
Streaming TV                                           object
Streaming Movies                                           object
Streaming Music                                           object
Unlimited Data                                           object
Churn Category                                           object
Churn Reason                                           object
Avg Monthly Long Distance Charges                                           float64
Multiple Lines                                           object
Internet Type                                           object
Avg Monthly GB Download                                           float64
Online Security                                           object
Online Backup                                           object
Device Protection Plan                                           object
Premium Tech Support                                           object
Streaming TV                                           object
Streaming Movies                                           object
Streaming Music                                           object
Unlimited Data                                           object
Churn Category                                           object
Churn Reason                                           object

In [ ]:
data=data.drop('Churn Reason',axis=1)

In [21]:
data=data.drop('Churn Category',axis=1)

# finding numerical columns

In [23]:
numerical_columns=data.select_dtypes(include=['int64','float64']).columns

In [25]:
numerical_columns

Index(['Age', 'Number of Dependents', 'Zip Code', 'Latitude', 'Longitude',
       'Number of Referrals', 'Tenure in Months',
       'Avg Monthly Long Distance Charges', 'Avg Monthly GB Download',
       'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Customer Status'],
      dtype='object')

# finding number of numerical null columns

In [27]:
numerical_nul_columns = []

for i in range(len(numerical_columns)):
        print(data[numerical_columns[i]].isnull().sum())
        if data[numerical_columns[i]].isnull().sum() != 0:
               numerical_nul_columns.append(numerical_columns[i])
        

numerical_nul_columns

0
0
0
0
0
0
0
644
1344
0
0
0
0
0
0
0

['Avg Monthly Long Distance Charges', 'Avg Monthly GB Download']

In [29]:
numerical_nul_columns

['Avg Monthly Long Distance Charges', 'Avg Monthly GB Download']

# filling or replacing null values with appropriate values in numerical_nul_columns

In [31]:
data['Avg Monthly Long Distance Charges'].describe()

count    5945.000000
mean       25.496246
std        14.198424
min         1.010000
25%        13.140000
50%        25.720000
75%        37.690000
max        49.990000
Name: Avg Monthly Long Distance Charges, dtype: float64